{% extends 'layout/base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/buttons.dataTables.min.css' %}">
<style>
    .table thead th {
        text-align: center;
        vertical-align: middle;
    }
    
    .table tbody td {
        text-align: center;
        vertical-align: middle;
    }
    
    .btn-xs {
        padding: 0.2rem 0.5rem;
        font-size: 0.75rem;
    }
</style>
{% endblock css %}

{% block content %}
<div class="page-body">
    {% include 'layout/breadcrumb.html' %}
    {% include 'component/school/school-list.html' %}
</div>
{% endblock content %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script>
$(document).ready(function() {
    $('#school-table').DataTable({
        pageLength: 10,
        scrollX: true,
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'print',
                text: '<i class="fa fa-print"></i> Print',
                className: 'btn btn-primary',
                exportOptions: {
                    columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                }
            },
            {
                extend: 'excel',
                text: '<i class="fa fa-file-excel-o"></i> Excel',
                className: 'btn btn-success',
                exportOptions: {
                    columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                }
            },
            {
                extend: 'pdf',
                text: '<i class="fa fa-file-pdf-o"></i> PDF',
                className: 'btn btn-danger',
                exportOptions: {
                    columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                }
            }
        ]
    });
});
</script>
{% endblock scriptcontent %}