{% load static %}
<div class="row">
  <!-- Total Schools Widget -->
  <div class="col-sm-6 col-xl-3 col-lg-6">
    <div class="card o-hidden border-0">
      <div class="bg-primary b-r-4 card-body">
        <div class="media static-top-widget">
          <div class="align-self-center text-center">
            <i class="fa fa-school"></i>
          </div>
          <div class="media-body">
            <span class="m-0">Total Sekolah</span>
            <h4 class="mb-0 counter">{{ total_schools }}</h4>
            <i class="fa fa-building icon-bg"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Total Students Widget -->
  <div class="col-sm-6 col-xl-3 col-lg-6">
    <div class="card o-hidden border-0">
      <div class="bg-secondary b-r-4 card-body">
        <div class="media static-top-widget">
          <div class="align-self-center text-center">
            <i class="fa fa-users"></i>
          </div>
          <div class="media-body">
            <span class="m-0">Total Siswa</span>
            <h4 class="mb-0 counter">{{ total_students }}</h4>
            <i class="fa fa-user icon-bg"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Total Teachers Widget -->
  <div class="col-sm-6 col-xl-3 col-lg-6">
    <div class="card o-hidden border-0">
      <div class="bg-primary b-r-4 card-body">
        <div class="media static-top-widget">
          <div class="align-self-center text-center">
            <i class="fa fa-chalkboard-teacher"></i>
          </div>
          <div class="media-body">
            <span class="m-0">Total Guru</span>
            <h4 class="mb-0 counter">{{ total_teachers }}</h4>
            <i class="fa fa-graduation-cap icon-bg"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Attendance Rate Widget -->
  <div class="col-sm-6 col-xl-3 col-lg-6">
    <div class="card o-hidden border-0">
      <div class="bg-info b-r-4 card-body">
        <div class="media static-top-widget">
          <div class="align-self-center text-center">
            <i class="fa fa-clipboard-check"></i>
          </div>
          <div class="media-body">
            <span class="m-0">Tingkat Kehadiran</span>
            <h4 class="mb-0 counter">{{ attendance_percentage }}%</h4>
            <i class="fa fa-chart-line icon-bg"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Attendance Chart -->
<div class="row">
  <div class="col-xl-8">
    <div class="card">
      <div class="card-header">
        <h5>Statistik Kehadiran</h5>
      </div>
      <div class="card-body">
        <div id="attendance-chart"></div>
      </div>
    </div>
  </div>
  
  <!-- Quick Stats -->
  <div class="col-xl-4">
    <div class="card">
      <div class="card-header">
        <h5>Statistik Hari Ini</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div class="d-flex align-items-center">
              <i class="fa fa-check-circle text-success fa-2x mr-3"></i>
              <div>
                <h6 class="mb-0">Hadir</h6>
                <h3 class="mb-0">{{ total_attendance }}</h3>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex align-items-center">
              <i class="fa fa-clock text-warning fa-2x mr-3"></i>
              <div>
                <h6 class="mb-0">Total Siswa</h6>
                <h3 class="mb-0">{{ total_students }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>